@import "./styles/mixins";
@import "./styles/libs";
@import "./styles/variables";
@import "./styles/content";
@import "./styles/sidebar";
@import "./styles/responsive";
@import "./styles/navbar";
@import "./styles/aboutme";
@import "./styles/education";
@import "./styles/career";
@import "./styles/projects";
@import "./styles/contact";
@import "./styles/switch";
@import "./styles/CustomCursor";
@import "./styles/project";
@import "./styles/banner";
@import "./styles/header";
@import "./styles/loader";
@import "./styles/marquee";
@import "./styles/carousel";
@import "./styles/card";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Oswald", "Bebas", sans-serif;
}

body {
  overflow-x: hidden !important;
  @include theme() {
    color: theme-get("text-color");
    background-color: theme-get("bg-color");
  }
}

body.loading {
  overflow: hidden !important;
  height: 100vh !important;
}

// selection
::selection {
  background-color: $main-system-color;
}

// scrollbar
::-webkit-scrollbar {
  width: 0.75em;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #ccc;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-system-color;
  border-radius: 100vw;
  border: 0.2em solid #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2982b9;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;

  .inner {
    display: flex;
    max-height: 100vh;
    background-color: #999;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
