@import './mixins';

.AboutMe--container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }

    .info {
        display: block;
        position: relative;
        width: 30vw;
    }

    .avatar {
        width: 30vw;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
        position: relative;
        border-radius: 50%;
        padding: 10px;
        border: 2px solid #333;

        img {
            width: 30vw;
            border-radius: 50%;
            opacity: 0;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
    

    .title {
        display: block;
        font-size: 2.7em;
        opacity: 0;
    }

    .desc {
        display: block;
        opacity: 0;
    }

    .icons {
        font-size: 2em;
        margin-top: 0.5em;
        opacity: 0;

        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    @include theme() {
                        color: theme-get('text-color');
                    }
                }
            }
        }
}

    $size: 1em;
    $speed: 3s;
    $peakopacity:0.7;
    @keyframes arrows {
        0% {
            border-left:$size/3 solid rgba(0,0,0,0);
            border-bottom:$size/3 solid rgba(0,0,0,0);
            transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
        }
        10%, 90% {
            border-left:$size/3 solid rgba(0,0,0,0);
            border-bottom:$size/3 solid rgba(0,0,0,0);
        }
        50% {
            border-left:$size/3 solid rgba(0,0,0,$peakopacity);
            border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
            transform:translate($size/-6,0px)rotate(-45deg) ;
        }
        100% {
            border-left:$size/3 solid rgba(0,0,0,0);
            border-bottom:$size/3 solid rgba(0,0,0,0);
            transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
        }
    }

    .arrow-down {
        position: absolute;
        bottom: 5vh;
        display: block;
        cursor: pointer;
        opacity: 0;

        .arrows {
            position: absolute;
            top:50%;
            left:50%;
            width:$size;
            height:$size;
            transform:translate(-50%,-50%);

            &:before {
                content: '';
                position: absolute;
                width:100%;
                height:100%;
                border-left:$size/3 solid rgba(0,0,0,$peakopacity);
                border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
                transform:translate($size/3,$size*4/3)rotate(-45deg);
                animation: arrows $speed linear infinite;
            }

            &:after {
                content: '';
                position: absolute;
                width:100%;
                height:100%;
                border-left:$size/3 solid rgba(0,0,0,$peakopacity);
                border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
                transform:translate($size*2/3,0px)rotate(-45deg) ;
                animation: arrows $speed linear infinite $speed/-2;
            }
        }
    }
}

.sticky, .sticky2 {
    height: 100vh;
    @include theme() {
        background-color: theme-get('bg-color');
    }
    width: 100%;
    max-height: 100vh;
    & .animation, .animation2 {
        width: 100%;
        height: 100%;
        position: absolute;
        & img {
        opacity: 1;
        position: absolute;
        width: 300px;
        height: 300px;
        }
    }
    .heading {
        position: absolute;
        height: 100%;
        width: 100%;

        h2 {
            font-size: 2.7em;
            font-family: 'Caveat', 'Oswald', sans-serif;
            position: absolute;
            top: 10%;
            left: 10%;
            margin: 0;
            @include theme() {
                color: theme-get('text-color');
            }
        }
    }

// tech stacks progress
    
$color-node: hsl(110, 100%, 60%);
$color-scss: hsl(300, 100%, 60%);
$color-ts: hsl(220, 100%, 60%);
$color-react: hsl(180, 100%, 60%);
$color-vue: hsl(145, 100%, 60%);

@function strokeDashoffset($num) {
    @return 440 - (440 * $num) / 100;
}

//  @keyframes

@keyframes anim_circle-node {
	to {
		stroke-dashoffset: strokeDashoffset(60);
	}
}

@keyframes anim_circle-scss {
	to {
		stroke-dashoffset: strokeDashoffset(85);
	}
}
@keyframes anim_circle-ts {
	to {
		stroke-dashoffset: strokeDashoffset(60);
	}
}
@keyframes anim_circle-react {
	to {
		stroke-dashoffset: strokeDashoffset(85);
	}
}
@keyframes anim_circle-vue {
	to {
		stroke-dashoffset: strokeDashoffset(70);
	}
}

    .container__progressbars {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 30vh 0;
    }
    .progressbar {
        position: relative;
        width: 11em;
        height: 11em;
        transform: rotate(-90deg);
    }
    
    .progressbar__svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .progressbar__svg-circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 10;
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        stroke-linecap: round;
        @include theme() {
            stroke: theme-get('text-color');
        }
        transform: translate(5px, 5px); // stroke-width / 2
    }
    
    .shadow {
        &-node {
            filter: drop-shadow(0 0 5px $color-node);
        }
        &-scss {
            filter: drop-shadow(0 0 5px $color-scss);
        }
        &-ts {
            filter: drop-shadow(0 0 5px $color-ts);
        }
        &-react {
            filter: drop-shadow(0 0 5px $color-react);
        }
        &-vue {
            filter: drop-shadow(0 0 5px $color-vue);
        }
    }
    
    .circle {
        &-node {
            animation: anim_circle-node 1s ease-in-out forwards;
        }
        &-scss {
            animation: anim_circle-scss 1s ease-in-out forwards;
        }
        &-ts {
            animation: anim_circle-ts 1s ease-in-out forwards;
        }
        &-react {
            animation: anim_circle-react 1s ease-in-out forwards;
        }
        &-vue {
            animation: anim_circle-vue 1s ease-in-out forwards;
        }
    }
    
    .progressbar__text {
        @include theme() {
            color: theme-get('text-color');
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 0.25em;
    }
}