@import './mixins';

.Career--container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }
}

.Career--footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;

    div {
        margin-bottom: 5vh;
        margin-left: 3vw;
        cursor: pointer;

        &:nth-child(2) {
            text-align: right;
            margin-right: 3vw;
        }
    }
}