
.Contact--container {
    width: 100%;
    height: 100vh;
    display: block;
}

.st0 {
    fill:#FFFFFF;
  }
  .st1 {
    fill:transparent;
    stroke: #000;
    stroke-width: 2;
  }
  .st2 {
    fill:transparent;
    stroke: #000;
    stroke-width: 2;
  }
  #Layer_1 {
    height: 100px;
    text-align: center;
  }