@import './mixins';

.content {
    flex: 1;
    height: 100vh;
}

.section {
    width: 100%;
    height: 100vh;

    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }
}
