@import './mixins';

.content {
    flex: 1;
    height: 100vh;
    overflow: auto;
}

.section {
    width: 100%;
    height: 100%;

    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }
}


// scrollbar
::-webkit-scrollbar {
    width: 1em;
}
  
  /* Track */
::-webkit-scrollbar-track {
    @include theme() {
        background-color: theme-get('bg-color');
    }
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #434750;
    border-radius: 100vw;
    border: 0.2em solid #ffffff;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #33a3ee;
}