.isMobile {
  display: none !important;
}

@media (max-width: 1170px) {
  .Timeline--container {
    width: 100% !important;
  }
}

@media (max-width: 1023px) {
  .main-cursor,
  .secondary-cursor {
    display: none;
  }

  .Projects--footer {
    bottom: 10vh !important;
  }

  .switch {
    display: none !important;
  }

  .Timeline--container {
    height: fit-content !important;
    margin-bottom: 70px;
  }

  .isMobile {
    display: block !important;
  }
  .isDesktop {
    display: none;
  }
  .inner {
    flex-direction: column;
  }
  .next--page {
    bottom: 10vh !important;
  }
  .arrow-down {
    bottom: 10vh !important;
  }
  .slider {
    background-color: #fff !important;
    &::before {
      background-color: #999 !important;
    }
  }

  .Contact--container {
    .form {
      margin-top: -20%;
    }
  }
}
@media (min-width: 1024px) {
  .content {
    margin-left: 25vw;
  }
}
@media (max-width: 625px) {

  .AboutMe--container {
    flex-direction: column-reverse;

    .info {
      min-width: 50vw;
      text-align: center;
    }

    .icons ul {
      display: flex;
      justify-content: center;
    }

    .avatar {
      margin-bottom: 10vh;
      width: 50vw !important;

      img {
        width: 50vw !important;
      }
    }
  }
  .container__progressbars {
    padding: 20vh 0 !important;
  }
  .progressbar__svg-circle {
    display: block;
    width: 80% !important;
    height: 80% !important;
  }

  .heading {
    margin-top: 5vh !important;
  }
}
