.isMobile {
    display: none !important;
}


@media (max-width: 1023px) {
    .isMobile {
        display: block !important;
    }
    .isDesktop {
        display: none;
    }
    .inner {
        flex-direction: column;
    }
}
@media (min-width: 1024px) {
    .content {
        margin-left: 25vw;
    }
}