$themes: (
  darkTheme: (
    'text-color': white,
    'bg-color': #424242
  ),
  lightTheme: (
    'text-color': black,
    'bg-color': #999,
  )
);

$main-color: #FFFFFF;
$second-color: #999;
$text-color: #999;
$bg-primary-color: #999;
$bg-second-color: #434750;